{% extends "main/base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ block_title }}</h1><hr>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                {% if object %}
                    <button class="btn btn-outline-info" type="submit">Update</button>
                    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
                {% else %}
                    <button class="btn btn-outline-info" type="submit">Post</button>
                    <a class="btn btn-outline-secondary" href="{% url 'main-home' %}">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
